*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul li{
    color: white;
    font-size: 20px;
    margin: 10px;
}
nav ul img{
    width: 50px;
    height: 50px
}